<ion-view title="About">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <b>GTBaseball</b> an eStadium project
    <h5>Version 0.1.1</h5>
    <div class="list">

        <a class="item item-avatar" href="#">
            <img src="https://www.linkedin.com/mpr/pub/image-sbfAYJF2sIumHI5iYgHb35YszLWIKoWL7TVU3a8nzjqQLHBysbfUqeE2zMVQLa8s76yn/thanh-quan.jpg">
          <h2>Thanh Ky Quan</h2>
          <p>Project leader / Frontend / Backend</p>
        </a>

        <a class="item item-avatar" href="#">
            <img src="https://scontent-a-atl.xx.fbcdn.net/hphotos-frc1/t1.0-9/10003376_714875715200607_1953183951_n.jpg"/>
          <h2>Duc Anh Tran</h2>
          <p>Tester / Documentation</p>
        </a>
        <a class="item item-avatar" href="#">
          <h2>Hanjie Wang</h2>
          <p>Inactive</p>
        </a>
        <a class="item item-avatar" href="#">
            <img src="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-prn2/t1.0-9/1780826_434349636695334_796366480_n.jpg"/>
            <h2>Hanna Ai</h2>
            <p>Help entering roster.json</p>
        </a>
      </div>  
  </ion-content>
</ion-view>
